include README.rst

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-include PYT_PKG_NAME *.srv

recursive-include *.rst *.md conf.py Makefile *.jpg *.png *.gif
